---
import MeSection from "../components/MeSection.astro";
import PortfolioSection from "../components/PortfolioSection.astro";
import Layout from "../layouts/Layout.astro";
---

<astro>
  <script src="/node_modules/@fortawesome/fontawesome-free/js/all.min.js" defer
  ></script>
</astro>

<Layout title="Portfolio">
  <main>
    <MeSection />
    <PortfolioSection />
  </main>
</Layout>
