---
import MeSection from "../components/MeSection.astro";
import PortfolioSection from "../components/PortfolioSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome!">
	<main>
		<MeSection />
		<PortfolioSection />
	</main>
</Layout>

<!-- <script>
	function filterProjects(list) {
		let arr = [
			"235422783",
			"512287923",
			"535438521",
			"515295002",
			"485539963",
			"455227632",
			"452270052",
			"490781071",
			"657278056",
			"501842690",
			"451994231",
		];
		let newList = [];

		list.forEach((element) => {
			let i = 0;
			for (; i < arr.length; i++) {
				if (element.id == arr[i]) {
					break;
				}
			}
			if (i == arr.length) {
				newList.push(element);
			}
		});
		console.log(newList);

		return newList;
	}

	async function loadProjects() {
		return fetch("https://api.github.com/users/KevinFRX/repos")
			.then((response) => response.json())
			.then((data) => filterProjects(data));
	}

	function buildProjectBoxes(projects) {
		// obtener el contenedor
		const $container = document.getElementById("projects");

		// ciclo
		projects.forEach((element) => {
			const $div = builtProjectBox(element);
			$container.appendChild($div);
		});
	}

	function builtProjectBox(project) {
		// crear el div
		const $div = document.createElement("div");
		$div.classList.add("project");

		// crear la img
		const $img = document.createElement("img");
		$img.src = "tesla.jpg";
		$img.classList.add("project-image");
		$div.appendChild($img);

		// crear el h3
		const $h3 = document.createElement("h3");
		$h3.textContent = project.name;
		$h3.classList.add("project-name");
		$div.appendChild($h3);

		// crear el p
		const $p = document.createElement("p");
		$p.textContent = project.description;
		$div.appendChild($p);

		return $div;
	}

	loadProjects().then((projects) => buildProjectBoxes(projects));

	const interval = setInterval(refreshProject, 600000);

	function refreshProject() {
		const $container = document.getElementById("projects");
		$container.innerHTML = "";
		loadProjects().then((projects) => buildProjectBoxes(projects));
	}
</script> -->
