---
import Header from "../components/Header.astro";
import AboutSection from "../components/AboutSection.astro";
import PresentationSection from "../components/PresentationSection.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import ContactSection from "../components/ContactSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio">
  <Header />
  <main>
    <PresentationSection />
    <AboutSection />
    <ProjectsSection />
    <ContactSection />
  </main>
</Layout>
