<section id="about-section">
  <h2>About me</h2>
  <div>
    <p>
      I am a Junior Web Developer with a passion for creating engaging and
      user-friendly web experiences. With a solid foundation in front-end
      development and a curiosity for learning new technologies, I am eager to
      contribute to dynamic projects and grow as a professional in the field.
    </p>
  </div>
</section>

<style>
  section {
    background-color: var(--color-2nd);
    padding: 80px 0;
    text-align: center;
  }

  div {
    display: flex;
    justify-content: center;
  }

  p {
    width: 600px;
    font-size: 20px;
    color: rgb(200, 200, 200);
  }
</style>
