<section id="contact-section">
  <div>
    <h3><i class="fas fa-envelope icon"></i> xerokf13@gmail.com</h3>
    <h3><i class="fas fa-phone icon"></i> +598 97 550 556</h3>
  </div>
</section>

<style>
  section {
    background-color: #1a202c;
    padding: 80px 0;
    text-align: center;
    flex-grow: 1;
  }
  h3 {
    color: #38b2ac;
  }
  /* .icon {
    color: #38b2ac !important;
  } */
</style>
