<section id="contact-section">
  <div>
    <h2>Contact</h2>
    <h3>I'm just a click away!</h3>
    <a href="https://www.linkedin.com/in/kevin-fundora-ricardo-4b3897230/" target="_blank"><i class="fas fa-brands fa-linkedin"></i></a>
    <a href="https://github.com/KevinFRX" target="_blank"><i class="fas fa-brands fa-github"></i></a>
    <a href="https://wa.me/59897550556" target="_blank"><i class="fas fa-brands fa-whatsapp"></i></a>
    <a href="mailto:xerokf13@gmail.com"><i class="fas fa-envelope"></i></a>
  </div>
</section>

<style>
  section {
    background-color: var(--color-2nd);
    padding: 40px 0;
    text-align: center;
    flex-grow: 1;
  }

  h3 {
    font-size: 25px;
  }

  .fas {
    font-size: 30px;
    margin: 40px 10px;
  }
</style>
