<header>
  <a href="#presentation-section"><img src="/Logo.png" alt="Logo"></a>
  <nav>
    <ul>
      <li><a href="#about-section">About</a></li>
      <li><a href="#projects-section">Projects</a></li>
      <li><a href="#contact-section">Contact</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    display: flex;
    position: fixed;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: #171923;
  }

  img {
    height: 50px;
    margin-left: 10px;
  }

  nav {
    display: flex;
    height: 100%;
    padding: 10px 0;
  }

  nav a {
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
  }

  nav a:hover {
    background-color: #555;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 32px;
    margin-right: 32px;
  }
</style>
