---
import ProjectsSet from "./ProjectsSet.astro";

async function loadProjects() {
  return fetch("https://api.github.com/users/KevinFRX/repos")
    .then((response) => response.json())
    .then((data) => filterProjects(data));
}
function filterProjects(list) {
  let arr = [
    "235422783",
    "512287923",
    "535438521",
    "515295002",
    "485539963",
    "455227632",
    "452270052",
    "490781071",
    "657278056",
    "501842690",
    "451994231",
    "659491841", // portfolio
    "655866481", // my page
  ];
  let newList = [];

  list.forEach((element) => {
    if (arr.findIndex((i) => i == element.id) == -1) {
      newList.push(element);
    }
  });
  return newList;
}
let loadError = false;
let projects;
try {
  projects = await loadProjects();
} catch {
  loadError = true;
}
---

<section id="projects-section">
  <div>
    <h2>Projects</h2>
    {
      loadError ? (
        <div class="error-text">
          <p>
            An error has occurred: This website uses GitHub APIs, maybe you were
            blocked for making too many requests...or maybe it's just my fault,
            in any case wait for the problem to be solved. Thank you :)
          </p>
        </div>
      ) : (
        <ProjectsSet projects={projects} />
      )
    }
  </div>
</section>

<style>
  section {
    background-color: var(--color-1th);
    padding: 80px 0;
    text-align: center;
  }

  .error-text {
    display: flex;
    justify-content: center;
  }

  p {
    width: 600px;
    font-size: 20px;
    color: rgb(200, 200, 200);
  }
</style>
